[project]
	description = "A content aware, plug-able proxy server.           Discuss @: maxscale@googlegroups.com"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Johan Wikman (jhnwkmn)
[access "refs/for/refs/*"]
	read = group user/Johan Wikman (jhnwkmn)
	push = group user/Johan Wikman (jhnwkmn)
	label-Code-Review = -2..+2 group user/Johan Wikman (jhnwkmn)
	label-Verified = -1..+1 group user/Johan Wikman (jhnwkmn)
	rebase = group user/Johan Wikman (jhnwkmn)
	removeReviewer = group user/Johan Wikman (jhnwkmn)
	submit = group user/Johan Wikman (jhnwkmn)
[access "refs/heads/*"]
	read = group user/Johan Wikman (jhnwkmn)
	create = group user/Johan Wikman (jhnwkmn)
	push = +force group user/Johan Wikman (jhnwkmn)
	pushMerge = group user/Johan Wikman (jhnwkmn)
[access "refs/tags/*"]
	push = +force group user/Johan Wikman (jhnwkmn)
	pushTag = group user/Johan Wikman (jhnwkmn)
	pushSignedTag = group user/Johan Wikman (jhnwkmn)
